@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import "tailwindcss";

.font-dela {
  font-family: 'Dela Gothic One', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #0F1A24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-exo2: 'Exo 2', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-unbounded: 'Unbounded', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1A24;
    --foreground: #ededed;
  }
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


@keyframes slowGlow {
  0% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 14px rgba(108, 34, 183, 0.9);
  }
  100% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  }
}

.shadow-glow-slow {
  animation: slowGlow 2.5s ease-in-out infinite;
}

.glow {
  position: relative;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}

.glow::after {
  width: 150px;
  height: 150px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(235, 233, 233, 0.722);
  filter: blur(40px);
  z-index: -1;
  animation: pulseGlow 2s infinite alternate;
  transform-origin: center;
}

@keyframes pulseGlow {
  from { opacity: 0.4; }
  to   { opacity: 1; }
}




