@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.font-dela {
  font-family: 'Dela Gothic One', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #0F1A24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1A24;
    --foreground: #ededed;
  }
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
